<h1>Registartion form</h1>
<p>Please fill in the following details</p>

<form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

  <label for="firstname">First Name: </label>
  <input formControlName="firstname" placeholder="John..." /> <br />
  <p *ngIf="form.controls.firstname.errors">This field is required!</p>

  <label for="lastname">Family Name: </label>
  <input formControlName="lastname" placeholder="Smith..." /> <br />
  <p *ngIf="form.controls.lastname.errors">This field is required!</p>

  <label for="email">Email: </label>
  <input formControlName="email" placeholder="example@gmail.com" /> <br />
  <p *ngIf="form.controls.email.errors">This field is required and it must be a valid email address!</p>

  <label for="password">Password: </label>
  <input formControlName="password" type="password" />
  <p *ngIf="form.controls.password.errors">The password is required!</p>
  <p *ngIf="form.controls.password.errors">It must contain a lower and upper case characters and a number.</p>
  <p *ngIf="form.controls.password.errors">It must be a minimum of 6 characters.</p>

  <label for="matchPassword">Confirm Password: </label>
  <input formControlName="matchPassword" type="password" required validateEqual="password" />
  <p *ngIf="form.controls.matchPassword.errors">The password does not match!</p>

  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

<p>Form Values: {{ form.value | json }}</p>

<p>Form Status: {{ form.status }}</p>