<div class="container">
  <div class="col-sm-12">
    <h1>Registartion form</h1>
    <p>Please fill in the following details</p>
  </div>

  <form id="registrationForm" novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div class="form-group">
      <div class="col-sm-6">
        <label for="firstname">First Name: </label>
        <input formControlName="firstname" class="form-control" placeholder="John..." /> <br />
        <alert type="danger" *ngIf="form.controls.firstname.errors">This field is required!</alert>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <label for="lastname">Family Name: </label>
        <input formControlName="lastname" placeholder="Smith..." class="form-control" /> <br />
        <alert type="danger" *ngIf="form.controls.lastname.errors">This field is required!</alert>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="password">Password: </label>
        <input type="password" class="form-control" formControlName="password"/>
        <br _ngcontent-c1="">
        <alert type="danger" *ngIf="form.controls.password.errors">The password is required! It must contain a lower and upper case characters and a number. It must be a minimum of 6 characters.</alert>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <label for="email">Email: </label>
        <input formControlName="email" placeholder="example@gmail.com" class="form-control"/> <br />
        <alert type="danger" *ngIf="form.controls.email.errors">This field is required and it must be a valid email address!</alert>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <label for="matchPassword">Confirm Password: </label>
        <input type="password" class="form-control" formControlName="matchPassword" required validateEqual="password" />
        <br _ngcontent-c1="">
        <alert type="danger" *ngIf="form.controls.matchPassword.errors">The password does not match!</alert>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
    </div>
  </form>

  <div class="col-sm-12">
    <p>Form Values: {{ form.value | json }}</p>

    <p>Form Status: {{ form.status }}</p>
  </div>

</div>